<b>Menu:</b>
                <ul class="menu">
                       <li><a href="#">Item1</a></li>
                       <li><a href="#">Item2</a>
                           <ul>
                               <li><a href="#">SubItem1</a></li>
                               <li><a href="#">SubItem2</a></li>
                               <li><a href="#">SubItem3</a></li>
                           </ul>
                       </li>
                       <li><a href="#">Item3</a></li>
                       <li><a href="#">Item4</a></li>
                </ul>