<table class="top-courses">
                    <th>
                        Top 5 Courses :
                    </th>
                    <!-- -->
                    <tr>
                        <td>
                            <br />
                            <table class="course-in-top">
                                <th colspan="2">
                                    Course Title (Rating)
                                </th>
                                <tr>
                                    <td colspan="2" class="course-description">
                                        Course Description
                                        <br>
                                        <a href="/courses/course_ID">Read more</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
</table>