@model CoursesInfo.Models.MainPageModel

@{
    string newsUrl = "/Home/News/";
    string dots = "...";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<CoursesInfo.Core.Entities.News> news = Model.News;
}
<table>
    <!-- -->
    @foreach(var _news in Model.News)
    {       <tr>
                        <td>
                            <table class="news">
                                <th colspan="2">
                                    @_news.Title
                                </th>
                                <tr>
                                    <td class="left-part">
                                        <img src="/Content/no_image.jpg" /> <br /> @_news.Company.Name
                                    </td>
                                    <td class="right-part">
                                         @if(_news.Text.Length > 400)
                                         {
                                             @_news.Text.Substring(0, 400)
                                             @dots
                                         }
                                         else
                                         {   
                                             @_news.Text 
                                         }
                                                                             
                                        <br />
                                        <a href="@newsUrl@_news.Id">Read more</a>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </td>
                </tr>
    }
</table>