@model CoursesInfo.Models.NewsModel

@{
    ViewBag.Title = "Новость - " + Model.News.First().Title;
    string noComments = "Ещё нет комментариев";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="~/Home/Index">Home</a> ->
<a href="~/Home/AllNews">All news</a>

<table>
    <!-- -->
      <tr>
                        <td>
                            <table class="news">
                                <th colspan="2">
                                    @Model.CurrentNews.Title
                                </th>
                                <tr>
                                    <td class="left-part">
                                        <img src="/Content/no_image.jpg" /> <br /> @Model.CurrentNews.Company.Name
                                    </td>
                                    <td class="right-part">
                                             @Model.CurrentNews.Text
                                    </td>
                                </tr>
                                <tr>
                                       <td colspan="2" class="comments-header"><br \> <strong>Комментарии:</strong><br \> </td>
                                </tr>
                                @if (Model.CurrentNews.Comments.Count() == 0)
                                { 
                                    @noComments;
                                }
                                else    
                                {
                                    foreach (var comment in Model.CurrentNews.Comments)
                                    { 
                                        <tr class="comment">
                                            <td>
                                                <img src="~/Content/no_image.jpg">
                                            </td>
                                            <td>
                                                @comment.Text
                                            </td>
                                        </tr>
                                    }
                                }    
                            </table>
                            <br />
                        </td>
                </tr>
</table>